<a href="https://colab.research.google.com/github/sakshi953/Adva-prog/blob/master/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#include <stdio.h>
int main()
{
    int a[3][3],i,j;
    printf("enter elements into the matrix:");
    for(i=0;i<3;i++)
    for(j=0;j<3;j++)
    scanf("%d",&a[i][j]);
    printf("upper triangle elemnts:");
    for(i=0;i<3;i++)
    for(j=0;j<3;j++)
    if(i<j)
    printf("%d",a[i][j]);
}

#upper triangular matrix

In [0]:
#include <stdio.h>
int main()
{
    int a[3][3],i,j,sum=0;
    printf("enter elements into the matrix:");
    for(i=0;i<3;i++)
    for(j=0;j<3;j++)
    scanf("%d",&a[i][j]);
    printf("off diagonal sum:");
    for(i=0;i<3;i++)
    for(j=0;j<3;j++)
    if(i==j || i+j==2)
    sum = sum+a[i][j];
    printf("%d",sum);
}

#off diagonal sum

In [0]:
#include<stdio.h>
int main()
{
    int i,j;
    char name[1][10];
    printf("enter name");
    for(i=0;i<1;i++)
    for(j=0;j<10;j++)
    scanf("%c",&name[i][j]);
    printf("%s",name);
}

enter namesakshi                                                                                                                              
ads                                                                                                                                           
sakshi                                                                                                                                        
ads

In [0]:
#include<stdio.h>
int main()
{
    int i,j;
    char name[1][10];
    printf("enter name");
    scanf("%s",&name);
   
    printf("%s",name);
}
enter namesakshi                                                                                                                              
sakshi

In [0]:
#include<stdio.h>
int main()
{
    int i,j;
    char name[1][10];
    printf("enter name");
    scanf("%s",&name);
   //in this it will take six spaces in which ur name is allocated in this output u can see two spaces before abcd
    printf("%6s",name);//right justified
    printf("\n");
    printf("%-6s",name);//left justified
    printf("hello");
}

op:
enter nameabcd                                                                                                                                
  abcd                                                                                                                                        
abcd  hello

In [0]:
#include<stdio.h>
#include<string.h>
int main()
{
    int i,count=0;
    char name[10]="sakshi";
    //printf("%s%d",name,strlen(name));other method 
    for(i=0;name[i]!='\0';i++)
    count++;
    printf("%d",count);
}
6

In [0]:
#include<stdio.h>
#include<string.h>
int main()
{
    int i,count=0;
    char s1[10]="sakshi";
    char s2[10]="hello";
    strcpy(s1,s2);//s1 is destination and s2 is source
    printf("%s",s1);
}
hello